# TEST INIT_REPO_ACTION

Repo: {{ REPOSITORY_PATH }}
TestSpaceId: {{ TESTSPACE_SPACE_ID }}
CIReportRepoPath: {{ DEPLOYMENT_REPO_PATH }}
FromFile: {{ MY_VAR_FROM_FILE }}
FromUrl: {{ URL_KEY_2 }} {{ URL_KEY_1 }}
